footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: #ffc107;
}

.footer {
    background-color: #f8f8f8;
    color: #000;
    font-size: 14px;
}

.footer-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons p {
    margin-top: 8px;
    font-weight: 500;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons i {
    font-size: 18px;
    cursor: pointer;
}

.footer .social-icons i:hover {
    color: #ffc107;
}

.Subscribe {
    background-color: #ffc107;
}

.Subscribe:hover {
    background-color: #000;
    color: #fff;
}